:root {
  --white: #fff;
  --dark: #1e1e1e;
  --lightdark: #37353e;
  --green: #1abc9c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--dark);
  color: var(--white);
}

header {
  background-color: var(--lightdark);
  position: sticky;
  top: 0;
}

li {
  list-style: none;
}

a {
  color: var(--white);
  text-decoration: none;
}

/* Navbar */

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  position: fixed;
  left: 100%;
  top: 70px;
  gap: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--lightdark);
  text-align: center;
  transition: 0.3s;
}

.nav-menu.active {
  left: 0;
}

.nav-link {
  display: block;
  padding: 20px;
}

.nav-link:hover {
  text-decoration: underline solid var(--green) 2px;
  text-underline-offset: 4px;
}

.hamburger {
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--green);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Hero */

img {
  max-width: 100%;
  height: auto;
  border: 2px solid var(--green);
  border-radius: 100%;
  box-shadow: var(--green) 0px 2px 8px 0px;
}

.hero {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  text-align: center;
}

.hero-text > h1 {
  color: var(--green);
  font-size: 80px;
}

.hero-text > p {
  font-size: 30px;
  padding-top: 30px;
}

/* Informationen */
.infos {
  margin: 0 auto 50px;
  scroll-margin-top: 80px;
}

/* Über mich */

.about {
  text-align: justify;
}

.überschirft {
  margin: 20px;
  text-align: center;
  text-decoration: underline solid var(--green) 2px;
  text-underline-offset: 4px;
}

.about > p {
  margin: 10px 20px 20px;
}

/* Ausbildung */

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: var(--green);
  width: 450px;
  margin: 10px auto;
  border-radius: 10px;
  padding: 10px;
  box-shadow: var(--green) 0px 2px 8px 0px;
}

.card > p {
  margin-top: 10px;
}

/* Skills */

.container {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.skill {
  font-size: 12px;
  text-align: center;
}

.rating {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.dot {
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--white);
  border-radius: 100%;
}

.filled {
  background-color: var(--green);
}

/* Kontakt */
button {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--green);
  font-size: 25px;
  color: var(--white);
  cursor: pointer;
}

button:hover {
  background-color: var(--lightdark);
  border: 1px solid var(--green);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  height: 40px;
  margin-bottom: 10px;
}

input,
textarea {
  border-radius: 5px;
  border: 2px solid var(--green);
  padding: 10px;
}

.kontakt > p {
  text-align: justify;
  margin: 0 20px;
}

.email {
  text-decoration: underline solid var(--green) 2px;
  text-underline-offset: 4px;
}

/* Footer */

footer {
  height: 120px;
  padding: 20px;
  background-color: var(--lightdark);
}

.footerLinks {
  display: flex;
  margin-bottom: 20px;
  gap: 50px;
}

.footerLinks > ul > a:hover {
  text-decoration: underline solid var(--green) 2px;
  text-underline-offset: 4px;
}

/* Media Query */

@media (min-width: 821px) {
  /* Navbar */

  .hamburger {
    display: none;
  }

  .nav-menu {
    position: inherit;
    left: 0;
    justify-content: flex-end;
    flex-direction: row;
    gap: 30px;
  }

  .nav-link {
    display: block;
    padding: 20px 10px;
  }

  /* Hero */

  .hero {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .hero-img {
    margin: 0;
    padding: 30px;
  }

  .hero-text {
    text-align: left;
  }

  .hero-text > h1 {
    font-size: 200px;
  }

  .hero-text > p {
    font-size: 60px;
    padding-top: 30px;
  }

  /* Informationen */

  .infos {
    max-width: 60%;
    margin: 100px auto;
  }

  /* Kontakt */

  .kontakt > p {
    text-align: center;
  }

  /* Footer */

  .footerInhalt {
    max-width: 60%;
    margin: auto;
  }
}
